ONS.MaquinaInequacoes.WindowsFormApplication/Service References/MaquinaInequacoesServiceReference/MaquinaInequacoesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MaquinaInequacoesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2562/MaquinaInequacoesService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2562/MaquinaInequacoesService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2562/MaquinaInequacoesService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/ONS.MaquinaInequacoes.Service.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMaquinaInequacoesService_ExecutarJSONcomGPL_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecutarJSONcomGPL" />
  </wsdl:message>
  <wsdl:message name="IMaquinaInequacoesService_ExecutarJSONcomGPL_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecutarJSONcomGPLResponse" />
  </wsdl:message>
  <wsdl:message name="IMaquinaInequacoesService_ExecutarXMLcomGPL_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecutarXMLcomGPL" />
  </wsdl:message>
  <wsdl:message name="IMaquinaInequacoesService_ExecutarXMLcomGPL_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecutarXMLcomGPLResponse" />
  </wsdl:message>
  <wsdl:message name="IMaquinaInequacoesService_ExecutarJSONcomObjetos_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecutarJSONcomObjetos" />
  </wsdl:message>
  <wsdl:message name="IMaquinaInequacoesService_ExecutarJSONcomObjetos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecutarJSONcomObjetosResponse" />
  </wsdl:message>
  <wsdl:message name="IMaquinaInequacoesService_ExecutarXMLcomObjetos_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecutarXMLcomObjetos" />
  </wsdl:message>
  <wsdl:message name="IMaquinaInequacoesService_ExecutarXMLcomObjetos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecutarXMLcomObjetosResponse" />
  </wsdl:message>
  <wsdl:portType name="IMaquinaInequacoesService">
    <wsdl:operation name="ExecutarJSONcomGPL">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaquinaInequacoesService/ExecutarJSONcomGPL" message="tns:IMaquinaInequacoesService_ExecutarJSONcomGPL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaquinaInequacoesService/ExecutarJSONcomGPLResponse" message="tns:IMaquinaInequacoesService_ExecutarJSONcomGPL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecutarXMLcomGPL">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaquinaInequacoesService/ExecutarXMLcomGPL" message="tns:IMaquinaInequacoesService_ExecutarXMLcomGPL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaquinaInequacoesService/ExecutarXMLcomGPLResponse" message="tns:IMaquinaInequacoesService_ExecutarXMLcomGPL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecutarJSONcomObjetos">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaquinaInequacoesService/ExecutarJSONcomObjetos" message="tns:IMaquinaInequacoesService_ExecutarJSONcomObjetos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaquinaInequacoesService/ExecutarJSONcomObjetosResponse" message="tns:IMaquinaInequacoesService_ExecutarJSONcomObjetos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecutarXMLcomObjetos">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaquinaInequacoesService/ExecutarXMLcomObjetos" message="tns:IMaquinaInequacoesService_ExecutarXMLcomObjetos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaquinaInequacoesService/ExecutarXMLcomObjetosResponse" message="tns:IMaquinaInequacoesService_ExecutarXMLcomObjetos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMaquinaInequacoesService" type="tns:IMaquinaInequacoesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecutarJSONcomGPL">
      <soap:operation soapAction="http://tempuri.org/IMaquinaInequacoesService/ExecutarJSONcomGPL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecutarXMLcomGPL">
      <soap:operation soapAction="http://tempuri.org/IMaquinaInequacoesService/ExecutarXMLcomGPL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecutarJSONcomObjetos">
      <soap:operation soapAction="http://tempuri.org/IMaquinaInequacoesService/ExecutarJSONcomObjetos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecutarXMLcomObjetos">
      <soap:operation soapAction="http://tempuri.org/IMaquinaInequacoesService/ExecutarXMLcomObjetos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MaquinaInequacoesService">
    <wsdl:port name="BasicHttpBinding_IMaquinaInequacoesService" binding="tns:BasicHttpBinding_IMaquinaInequacoesService">
      <soap:address location="http://localhost:2562/MaquinaInequacoesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>