ONS.MaquinaInequacoes.WindowsFormApplication/Service References/MaquinaInequacoesServiceReference/MaquinaInequacoesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2562/MaquinaInequacoesService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/ONS.MaquinaInequacoes.Service.DataContracts" />
  <xs:element name="ExecutarJSON">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memoriaCalculo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="listaDecisoes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecutarJSONResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecutarJSONResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecutarXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memoriaCalculo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="listaDecisoes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecutarXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecutarXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecutarString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memoriaCalculo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="listaDecisoes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecutarStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecutarStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecutarObjeto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ONS.MaquinaInequacoes.Service.DataContracts" minOccurs="0" name="memoriaCalculo" nillable="true" type="q1:MemoriaCalculo" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ONS.MaquinaInequacoes.Service.DataContracts" minOccurs="0" name="listaDecisoes" nillable="true" type="q2:ListaDecisoes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecutarObjetoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ONS.MaquinaInequacoes.Service.DataContracts" minOccurs="0" name="ExecutarObjetoResult" nillable="true" type="q3:MemoriaCalculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>