ONS.MaquinaInequacoes.WindowsFormApplication/Service References/MaquinaInequacoesServiceReference/MaquinaInequacoesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MaquinaInequacoesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2562/MaquinaInequacoesService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2562/MaquinaInequacoesService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2562/MaquinaInequacoesService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/ONS.MaquinaInequacoes.Service.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMaquinaInequacoesService_ExecutarJSON_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecutarJSON" />
  </wsdl:message>
  <wsdl:message name="IMaquinaInequacoesService_ExecutarJSON_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecutarJSONResponse" />
  </wsdl:message>
  <wsdl:message name="IMaquinaInequacoesService_ExecutarXML_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecutarXML" />
  </wsdl:message>
  <wsdl:message name="IMaquinaInequacoesService_ExecutarXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecutarXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IMaquinaInequacoesService_ExecutarString_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecutarString" />
  </wsdl:message>
  <wsdl:message name="IMaquinaInequacoesService_ExecutarString_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecutarStringResponse" />
  </wsdl:message>
  <wsdl:message name="IMaquinaInequacoesService_ExecutarObjeto_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecutarObjeto" />
  </wsdl:message>
  <wsdl:message name="IMaquinaInequacoesService_ExecutarObjeto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecutarObjetoResponse" />
  </wsdl:message>
  <wsdl:portType name="IMaquinaInequacoesService">
    <wsdl:operation name="ExecutarJSON">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaquinaInequacoesService/ExecutarJSON" message="tns:IMaquinaInequacoesService_ExecutarJSON_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaquinaInequacoesService/ExecutarJSONResponse" message="tns:IMaquinaInequacoesService_ExecutarJSON_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecutarXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaquinaInequacoesService/ExecutarXML" message="tns:IMaquinaInequacoesService_ExecutarXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaquinaInequacoesService/ExecutarXMLResponse" message="tns:IMaquinaInequacoesService_ExecutarXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecutarString">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaquinaInequacoesService/ExecutarString" message="tns:IMaquinaInequacoesService_ExecutarString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaquinaInequacoesService/ExecutarStringResponse" message="tns:IMaquinaInequacoesService_ExecutarString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecutarObjeto">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaquinaInequacoesService/ExecutarObjeto" message="tns:IMaquinaInequacoesService_ExecutarObjeto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaquinaInequacoesService/ExecutarObjetoResponse" message="tns:IMaquinaInequacoesService_ExecutarObjeto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMaquinaInequacoesService" type="tns:IMaquinaInequacoesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecutarJSON">
      <soap:operation soapAction="http://tempuri.org/IMaquinaInequacoesService/ExecutarJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecutarXML">
      <soap:operation soapAction="http://tempuri.org/IMaquinaInequacoesService/ExecutarXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecutarString">
      <soap:operation soapAction="http://tempuri.org/IMaquinaInequacoesService/ExecutarString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecutarObjeto">
      <soap:operation soapAction="http://tempuri.org/IMaquinaInequacoesService/ExecutarObjeto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MaquinaInequacoesService">
    <wsdl:port name="BasicHttpBinding_IMaquinaInequacoesService" binding="tns:BasicHttpBinding_IMaquinaInequacoesService">
      <soap:address location="http://localhost:2562/MaquinaInequacoesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>